.container-fluid{
    height: 90px;
    background-color: gray;
     box-shadow: 15px 20px 20px rgb(0,0,0,.1);
    
    width: 2000px;
}
.container-fluid a img{
    border-radius: 50px;
   
}
.navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 40px;
    color: green;
    
}
.navbar-brand a{
    font-size: 50px;
    color: green;

}
.nav-item a{

}

.navbar-navme-auto{
    margin-left: 200px;
}
#navbarSupportedContent a{
    color: black;
    font-size: 30px;
    border: 2px solid transparent;
    
}


#navbarSupportedContent a:hover{
    color: white;
    border-bottom: 2px solid green;
}
.fixed-top{
    margin-top: -23px;
    
    
}.nav-item {
    
    margin-left: 50px;
    font-size: 20px;
}


.nav-item a{
    margin-left: 50px;
    font-size: 30px;

}
.d-flex{
    margin-top: 28px;
    display: inline;
}

.d-flex .lo button{
    background-color: green;
    
    

}


#our{
    background-color: #26425A;
    height: 500px;
}
 .pa h1{
    margin-left: 500px;
    color: white;
    margin-top: 100px;
   
   

}
.pa  h3{
    margin-left: 300px;
}

#our .card img{
    height: 200px;
   
    
}
#our .card{
    margin-left: 50px;
    margin-top: 50px;
    box-shadow:  1px solid white;
    box-shadow: 15px 20px 20px rgb(0,0,0,.3),inset 4px 4px 10px white;
}
#our .card:hover{
    transform: scale(1.1);
}
#our .card1 img{
    height: 200px;
}
#our  .card1{
    border: 1px solid gray;
    height: 200px;
}
#wood{
    background: url('sofa.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    
}
#wood .info{
    position: absolute;
    top: 700px;
    margin-left: 500px;
}
#all{
    background-color: #535878;


}
#all .card{
    margin-top: 110px;
    
    box-shadow:  1px solid black;
    box-shadow: 15px 20px 20px rgb(0,0,0,.3),inset 4px 4px 10px white;

}
#all .card:hover{
    transform: scale(1.1);
}
#all .para h1{
    position: absolute;
    font-size: 50px;
    left: 50px;
    
}
#all .para h3{
    position: absolute;
    top: 1060px;
    left: 270px;
    color: white;
    box-shadow: 2px solid black;
}
  h1{
    margin-top: 50px;
    margin-left: 500px;
    
    box-shadow: 2px solid white;
}
#pic .card1 img{
    height: 250px;
}

#foot{
    background-color: gray;
}
#foot.f1 h3{
      color: brown;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#foot .f1{
    margin-left: 20px;
}

.foot3 ul{
    list-style-type: none;
}
#foot i:hover{
    background-color: white;
    
 }
 #l{
     margin-bottom: -40px;
     background-color: black;
 }
 #l h5{
     margin-left: 500px;
     color: white;
 }
 